
.navbar.navbar-dark {
    background-color: black;
    padding: 0;
    padding-left: 10px;
} 
a.navbar-logo{
    margin-right: 10px;
    
}
.display-4 {
    font-size: 4rem;
}

h3 {
    font-family: 'Modak', cursive;
    font-size: 50;
}
p { 
    font-family: 'Exo', sans-serif;
}
.nav-item {
    margin-left: 40px;
}

.img-fluid {
    max-width: 100%; 
     height: auto;
}

li.nav-item.active {
    list-style-type: none;
    color: white;
    position: relative;
}

ul {
    margin-bottom: 0;
}
a.nav-link {
    color: white;
}

.jumbotron {
    background: white;
    text-align: center;
}

.carousel-inner {
    text-align: center;
    position: relative;
    margin: auto;
    width: max-content;
    height: max-content;
}


.carousel.slide {
    position: relative;
}

img.carou-img {
    width: 100%;
    height: 100%;
    
}

.jumbotron {
    padding: 5rem 2rem;
}

.container.flyer {
    margin: auto;
    padding-left: 0%;
    padding-right: 0%;
}

.flyer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.col-lg-6.flyer-col {
    padding: 40px;
    
}

.col-lg-6.flyer-text {
    margin-left: 0px;
    padding: 25px;
    
}

.col-lg-6.flyer-row2 {
    margin-left: 0px;
}

hr.yes {
    width: 85%;
    border-top: 2px dotted rgb(51, 10, 10);
}

.col-lg-6.fulani-img {
    padding: 20;
}

.col-lg-6.fulani {
    margin-left: 0px;
    padding: 25px;
}

.col-lg-6.flyer-col.koroba {
    padding-top: 20px;

}

.footer_{
    background-color: rgb(231, 226, 226);
    height: 100px;
}

.footer_top {
    background-color:white;
    height: 100px;
}
p.copyright {
    display: block;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
    font-family: sans-serif;
    
}